.appointments-table {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
}

.appointments-table th,
.appointments-table td {
    padding: 0.5rem;
}



@media (max-width: 768px) {


    .appointments-table th,
    .appointments-table td {
        font-size: 0.875rem;
        padding: 0.2rem;
    }

    .appointments-table {
        font-size: 0.875rem;
    }

    .appointments-container {
        margin: 0.5rem;
    }

    .no-appointments {
        font-size: 1rem;
    }
}