<div *ngIf="isError | async; then noForm else showTheForm">
</div>
<ng-template #noForm>
    Wrong ID
</ng-template>

<ng-template #showTheForm>
    <div *ngIf="isDataReady | async; else loader then form ">

    </div>

    <ng-template #loader>
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
            animationDuration=".5s" />
    </ng-template>

    <ng-template #form>
        <p-card>
            <h1>Update the Appointment</h1>
            <form (submit)="handleForm($event)">
                <div>
                    <label for="customername">Customer Name</label>
                    <input pInputText name="customername" type="text" [(ngModel)]="customername" />
                </div>
                <div>
                    <label for="title">Title</label>
                    <input pInputText name="title" type="text" [(ngModel)]="title" />
                </div>
                <div>
                    <label for="date">Date</label>
                    <br />
                    <p-calendar [minDate]="minDate" [showIcon]="true" icon="pi pi-calendar" name="date"
                        [(ngModel)]="date"></p-calendar>
                </div>
                <div>
                    <label for="time">Time</label>
                    <br />
                    <p-calendar timeOnly name="time" [showIcon]="true" icon="pi pi-clock"
                        [(ngModel)]="time"></p-calendar>
                </div>
                <div class="buttons">
                    <p-button icon="pi pi-check" severity="help" type="submit" label="Update"></p-button>
                    <p-button icon="pi pi-times" severity="danger" label="Cancel" (click)="navigate('/')"></p-button>
                </div>
                <p *ngIf="errorMessage">{{ errorMessage }}</p>
                <p *ngIf="(errorDate | async) !== ''">Please fill all the fields!</p>

            </form>
        </p-card>
    </ng-template>
</ng-template>