<p-card>

    <form action="">

        <div>
            <label for="customername">Customer Name</label>
            <input pInputText name="customername" type="text" [(ngModel)]="customername" />
        </div>
        <!--
       it is like onChange (ngModelChange)="changeDetect($event)"
  -->
        <div>
            <label for="title">Title</label>
            <input pInputText name="title" type="text" [(ngModel)]="title" />
        </div>

        <div>
            <label for="date">Date</label>
            <br>
            <p-calendar name="date" [(ngModel)]="date" />
        </div>
        <div>
            <label for="time">Time</label>
            <br>
            <p-calendar timeOnly name="date" [(ngModel)]="time" />
        </div>

        <button pButton type="submit" (click)="handleForm($event)">xxx</button>
        <p *ngIf="errorMessage">
            {{errorMessage}}
        </p>

        <!-- fix this later -->
        <!--
         <div *ngIf="errorMessage">

            <p-messages [(value)]="errorMessage" [enableService]="false" [closable]="false" />
        </div>
        -->

    </form>






</p-card>