<div class="container">


    <!-- Such a great way! it has a smilar logic to React Conditional Rendering-->
    <div *ngIf="appointments.length==0; then noAppoinments else showAppoinments"> </div>

    <ng-template #noAppoinments>
        There are no appoinments to display!
    </ng-template>

    <!--
  I could also delete then noAppoinments and noAppoinments template
  -->


    <ng-template #showAppoinments>
        <p-table [value]="appointments" [tableStyle]="{ 'max-width': '30rem' }" class="items">
            <ng-template pTemplate="header">
                <tr>
                    <th>Customer Name</th>
                    <th>Title</th>
                    <th>Date</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-appointment>
                <tr>
                    <td>{{ appointment.customerName }}</td>
                    <td>{{ appointment.appointmentTitle }}</td>
                    <td>{{ appointment.appointmentDate }}</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>


    <!-- 
    this looks quite spagetti-code-ish dont like it
     find a better way.
    -->
    <!-- 
    <div *ngIf='appointments.length==0'>
      There are no appoinments to display!
    </div>
    <ul class="items" *ngIf="appointments.length>0">
      <li *ngFor="let appointment of appointments">
        {{appointment.customerName}}
        -
        {{appointment.appointmentTitle}}
        -
        {{appointment.appointmentDate}}
      </li>
    </ul>
  
    -->

    <p-button (onClick)="handleClick()" label="New Appointment">

    </p-button>


    <ul>
        <li><a routerLink="/new" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
    </ul>
    <router-outlet></router-outlet>

</div>